<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	
	<display-name>MooMooCode</display-name>
	
	<welcome-file-list>
		<welcome-file>/Home</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>Admin Level Editor</description>
		<display-name>Admin/LevelEditor</display-name>
		<servlet-name>AdminLevelEditor</servlet-name>
		<servlet-class>com.web.Admin.LevelEditor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLevelEditor</servlet-name>
		<url-pattern>/Admin/LevelEditor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Admin Levels</description>
		<display-name>Admin/Levels</display-name>
		<servlet-name>AdminLevels</servlet-name>
		<servlet-class>com.web.Admin.Levels</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLevels</servlet-name>
		<url-pattern>/Admin/Levels</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Admin/Home</display-name>
		<servlet-name>AdminHome</servlet-name>
		<servlet-class>com.web.Admin.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminHome</servlet-name>
		<url-pattern>/Admin/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Game</display-name>
		<servlet-name>Game</servlet-name>
		<servlet-class>com.web.Game</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/Game</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LevelSelect</display-name>
		<servlet-name>LevelSelect</servlet-name>
		<servlet-class>com.web.LevelSelect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LevelSelect</servlet-name>
		<url-pattern>/LevelSelect</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Lesson</display-name>
		<servlet-name>Lesson</servlet-name>
		<servlet-class>com.web.Lesson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lesson</servlet-name>
		<url-pattern>/Lesson</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.web.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CreateAccount</display-name>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>com.web.CreateAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern>/CreateAccount</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.web.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.web.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Code</display-name>
		<servlet-name>Code</servlet-name>
		<servlet-class>com.web.Code</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Code</servlet-name>
		<url-pattern>/Code</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Learn</display-name>
		<servlet-name>Learn</servlet-name>
		<servlet-class>com.web.Learn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Learn</servlet-name>
		<url-pattern>/Learn</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RawCodeExec</display-name>
		<servlet-name>RawCodeExec</servlet-name>
		<servlet-class>com.web.RawCodeExec</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RawCodeExec</servlet-name>
		<url-pattern>/RawCodeExec</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>Users</display-name>
		<servlet-name>Users</servlet-name>
		<servlet-class>com.web.Admin.Users</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/Admin/Users</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LessonEditor</display-name>
		<servlet-name>LessonEditor</servlet-name>
		<servlet-class>com.web.Admin.LessonEditor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessonEditor</servlet-name>
		<url-pattern>/Admin/Lessons</url-pattern>
	</servlet-mapping>
</web-app>