.map-desc
{
	font-size: 14px;
	white-space: pre-line;
}
.map-desc b
{
	color: greenyellow;
	font-style: italic;
}
.modal-code
{
	text-align: left;
	white-space: pre;
	display: inline-block;
	background-color: #49483E;
	padding: 15px;
}
.modal-open-btn
{
	padding: 5px;
	margin: 5px;
	background-color: #49483E;
	cursor: pointer;
	text-align: center;
	width: 20px;
	font-size: 20px;
	position: relative;
}

.level-tile-select
{
	transition: background-color .2s;
	cursor: pointer;
	padding: 10px;
	width: calc(100% - 20px);
}
.level-tile-select:hover
{
	background-color: #49483E;
}
.tile-name
{
	display: inline-block;
	margin:10px;
}
.tile-icon
{
	width:40px;
	height:40px;
	text-align:center;
	display: inline-block;
	vertical-align: middle;
	margin:10px;
}
.action
{
	margin:3px;
	padding: 2px;
	border: 1px solid #75715E;
	height: 83px;
	vertical-align: middle;
	overflow: hidden;
	cursor:pointer;
	transition: background-color .15s, box-shadow .15s;
	border-radius:5px;
	box-shadow: inset 0 0 1px 1pt #49483E;
	position:relative;
}
.action:hover
{
	background-color: #49483E;
	box-shadow: inset 0 0 1px 1pt #A6E22E;
}
.action:hover>i.action-icon
{
	color:#A6E22E;
}
.action-icon
{
	transition: color .15s;
	font-size: 65px;
	color: #75715E;
	margin-bottom: 5px;
}
.action-text
{
	font-size:10px;
}
.action-menu
{
	position: absolute;
	left:100px;
	display:inline-block;
	width:395px;
	height:100%;
	border-right:5px solid #49483E;
}
.map_label_y
{
	height: 40px;
	line-height: 50px;
	position: relative;
	bottom: 25px;
	color: #cac6b4;
	user-select: none;
	width: 15px;
}
.map_label_x
{
	text-align: center;
	line-height: 30px;
	color: #cac6b4;
	position: relative;
	left: 25px;
	user-select: none;
}
.entity-player
{
	background-image: url(/icons/characters/farmer_dan.png);
	border-radius: 25px;
	box-shadow: inset 0 0 20px 4px greenyellow;
}
.entity-player-spawn
{
	background-image: url(/icons/characters/farmer_dan.png);
	border-radius: 25px;
	box-shadow: inset 0 0 20px 4px greenyellow;
}
.entity-cow
{
	background-image: url(/icons/entities/cow.png);
	border-radius: 25px;
	box-shadow: inset 0 0 20px 4px gold;
}
#entity-reference
{
	position: relative;
}
.pixel
{
	image-rendering: pixelated;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-interpolation-mode: nearest-neighbor;
}
.map-table
{
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
	display: table;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.map-table>tbody>tr>td
{
	padding:0;
	/*outline: 1px dashed #49483E;*/
}
.map-tile-cell
{
	display:table-cell;
}
.map-label-cell
{
	display:table-cell;
	float:left;
}
.map-entity
{
	width:50px;
	height:50px;
	text-align:center;
	vertical-align: middle;
	transition: background-color .1s,right .1s,top .1s;
	transition-timing-function: linear;
	user-select: none;
	position: absolute;
	pointer-events:none;
}
.map-tile
{
	width:50px;
	height:50px;
	text-align:center;
	vertical-align: middle;
	background-blend-mode: color-burn;
	background-color: rgba(0, 0, 0, 0.01);
	transition: background-color .1s;
	user-select: none;
}
.map-tile:hover
{
	background-color: rgba(0, 0, 0, 0.4) !important;
}
.map-table>tbody>tr:nth-child(even)>td.map-tile-cell:nth-child(even)>div.map-tile{background-color: #80808026;}
.map-table>tbody>tr:nth-child(odd)>td.map-tile-cell:nth-child(odd)>div.map-tile{background-color: #80808026;}

.entity-container
{
	display: block;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 10px;
}
.entity-header
{
	display: block;
	background-color: #49483E;
	cursor: pointer;
	padding: 5px;
}
.entity-header:hover
{
	background-color: #605f55;
}
.entity-content
{
	display: none;
	margin: 10px 0px;
}