.search_wrapper a{
	text-decoration: none;
}
.search_wrapper {
	margin-top: 50px;
}
.search_wrapper p, a {
	padding-top: 25px;
}
.results {
	width: 200px;
	align-self: center;
}
.results {
	display: inline-grid;
}